<div class="loginContainer">
  <div class="disclaimer">
    <div [@deleteAnim] class="ui success message" *ngIf="message">
      <i class="close icon" (click)="closeMsg()"></i>
      <div class="header">
        Please Note
      </div>
      <p>Register with your desired username and password.<br>Then login using those.
      </p>
    </div>
    <p id="errorMsg" [@deleteAnim] *ngIf="onerror">
      <i class="frown icon"></i>
      <span>Either Username or Password is incorrect</span>
    </p>
  </div>
  <div class="btnHolder">
    <i class="fa fa-navicon"></i>
  </div>
  <div class="loginSwitch">
    <div [ngSwitch]="loginSwitch">
      <form *ngSwitchCase="'login'" class="loginForm" novalidate [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="topForm">
          <h3>Login</h3>
          <ul>
            <li>
              <div class="ui left icon input">
                <input formControlName="username" type="text" placeholder="Username" onfocus="this.placeholder=''" onblur="this.placeholder='Username'">
                <i class="desktop icon"></i>
              </div>
            </li>
            <li>
              <div class="ui left icon input">
                <input formControlName="password" class="text-input" type="password" placeholder="Password" onfocus="this.placeholder=''"
                  onblur="this.placeholder='Password'">
                <i class="lock icon"></i>
              </div>
            </li>
          </ul>
          <button class="positive ui button" type="submit" [disabled]="!loginForm.valid">
            <span>Submit</span>
          </button>
        </div>
      </form>
      <form *ngSwitchDefault class="loginForm" novalidate [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="topForm">
          <h3>Register</h3>
          <ul>
            <li>
              <div class="ui left icon input">
                <input maxlength="255" formControlName="fullname" class="text-input" type="text" placeholder="Full Name" onfocus="this.placeholder=''"
                  onblur="this.placeholder='Full Name'">
                <i class="user icon"></i>
              </div>
            </li>
            <li>
              <div class="ui left icon input">
                <input maxlength="15" formControlName="username" class="text-input" type="text" placeholder="Username (max 15 characters)" onfocus="this.placeholder=''"
                  onblur="this.placeholder='Username (max 15 characters)'">
                <i class="desktop icon"></i>
              </div>
            </li>
            <li>
              <div class="ui left icon input">
                <input maxlength="15" formControlName="password" class="text-input" type="password" placeholder="Password (max 15 characters)" onfocus="this.placeholder=''"
                  onblur="this.placeholder='Password (max 15 characters)'">
                <i class="lock icon"></i>
              </div>
            </li>
          </ul>
          <button class="positive ui button" type="submit" [disabled]="!registerForm.valid">
            Submit
          </button>
        </div>
      </form>
      <form *ngSwitchCase="'forgotPassword'" class="loginForm" novalidate [formGroup]="passwordForm" (ngSubmit)="password()">
        <div class="topForm">
          <h3>Forgot Password</h3>
          <ul>
            <li>
              <div class="ui left icon input">
                <input formControlName="email" class="text-input" type="password" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'">
                <i class="mail icon"></i>
              </div>
            </li>
          </ul>
          <button class="positive ui button" type="submit" [disabled]="!passwordForm.valid">
          Submit
          </button>
        </div>
      </form>
    </div>
    <div class="forgotPassword">
      <div class="ui label">
        <a *ngIf="registerClicked" class="btn btn-link" type="button" (click)="switchLogin('register')">
            Register
        </a>
        <a *ngIf="loginClicked" class="btn btn-link" type="button" (click)="switchLogin('login')">
            Login
        </a>
        <a *ngIf="forgotPasswordClicked" class="btn btn-link" type="button" (click)="switchLogin('fpassword')">
            Forgot Password?
        </a>
      </div>
    </div>
  </div>
  <footer>
    <img src="assets/images/logo.png">
    <span>Welcome to TechnoTuts</span>
  </footer>
</div>
