.resumeContainer {
  display: flex;
  flex-basis: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.resumeContainer div {
  display: flex;
}

.getImage {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #333;
  color: white;
  position: relative;
}

.getImage img {
  width: 50%;
  border-radius: 100%;
  margin-bottom: .5em;
  pointer-events: none;
}

.getImage a {
  display: flex;
}

.getImage a i {
  margin-right: .5em;
}

.details {
  width: 90%;
  margin: .5em 0;
  display: flex;
  align-items: center;
}

.details i {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.details span:before {
  content: "|";
  margin-right: .5em;
}

.getDetails {
  flex-basis: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  padding: 3em 1em;
}

.getDetails > * {
  color: #666 !important;
}

.getDetails .details {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  /* padding-left: 1em; */
  margin: 0;
}

.getDetails .details:nth-child(1) {
  flex-basis: 19%;
}

.getDetails .details:nth-child(2) {
  flex-basis: 16%;
}

.getDetails .details:nth-child(3) {
  flex-basis: 25%;
}

.getDetails .details:nth-child(4) {
  flex-basis: 37.5%;
}

.getDetails .details div {
  display: flex;
  align-items: center;
  color: #666;
  margin-bottom: .5em;
}

.getDetails .details div h3 {
  margin: 0;
  margin-left: .5em;
  border-bottom: 1px solid #999;
}

.getDetails .details ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.getDetails .details li {
  list-style-type: disc;
  display: inline-flex;
  width: 33.33%;
}

.getDetails .details li a {
  color: #666 !important;
  padding: .5em 0;
}

.exp,
.proj {
  height: 100%;
  display: flex;
}

.exp li,
.proj li {
  display: flex !important;
  flex-direction: column !important;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: .5em;
}

.exp li a,
.proj li a {
  color: #666 !important;
}

.exp li h4,
.proj li h4 {
  margin: 0;
}

.exp li > ol,
.proj li > ol {
  height: 100%;
  margin: 0;
  padding: 0;
}

.exp li > ol > li,
.proj li > ol > li {
  display: block !important;
  font-size: 12px;
  list-style-type: disc !important;
  width: 100%;
  height: auto !important;
  padding-right: .5em;
}

.closeBtn {
  position: absolute;
  top: .5em;
  right: .5em;
  margin: 0 !important;
}

.closeBtn i {
  margin-right: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
}
